{% if error_message %}<p>{{error_message}}</p>{% endif %}

<form action="{% url 'polls:add_question' user.username%}" method="post">
{% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Save" />
</form>

<a href="{% url 'polls:user_page' user.username %}">Home</a>
