{% if error_message %}<p>{{error_message}}</p>{% endif %}

<form action="{% url 'polls:add_choices' question.id%}" method="post">
{% csrf_token %}
    {{formset.as_p}}
    <input type="submit" value="Save" />
</form>

<a href="{% url 'polls:user_page' question.user.username %}">Home</a>
