<h1>{{user.username}}: {{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if question.choice_set.count %}
<form action="{% url 'polls:vote' user.username question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
    <br>
<input type="submit" value="Vote" />
</form>
{% endif %}

<form action="{% url 'polls:edit_question' question.id %}">
<input type="submit" value="Edit question" />
</form>

<form action="{% url 'polls:add_choices' question.id %}">
<input type="submit" value="Add choices" />
</form>

<a href="{% url 'polls:user_page' user.username %}">Home</a>
