{% if error_message %}<h1>{{error_message}}</h1>{% endif %}

<form action="{% url 'polls:edit_question' question.id%}" method="post">
{% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Save" />
</form>

<a href="{% url 'polls:user_page' question.user.username %}">Home</a>
