{% if questions_list %}
    <ul type="none">
    {% for question in questions_list %}
        <li>{{ question.question_text }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<ul type="none">
    <li><a href="{% url 'polls:sign_in'%}">Sign In</a></li>
    <li><a href="{% url 'polls:login'%}">Login</a></li>
</ul>