<h1>{{user.username}}: {{ question.question_text }}</h1>

<ul>
{% for choice in question.choice_set.all %}
    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
{% endfor %}
</ul>

<a href="{% url 'polls:detail' user.username question.id %}">Vote again?</a> <br>
<a href="{% url 'polls:user_page' user.username %}">Home</a>
