{% if error_msg %}<h1>{{error_msg}}</h1>{% endif %}

<form action="{% url 'polls:sign_in' %}" method="post">
{% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Sign In" />
</form>

<a href="{% url 'polls:index'%}">Home</a>