{% if questions %}
    <ul type="none">
    {% for question in questions %}
        <li><a href="{% url 'polls:detail' user.username question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}


<form action="{% url 'polls:add_question' user.username %}">
<input type="submit" value="Add question" />
</form>

<a href="{% url 'polls:index'%}">Log Out</a>
